<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %} {% endblock title %} Diploma Cloud 2021</title>
    
    {% load static %}
    <!-- Estilos y fuentes del template  -->
    <link href={% static 'core/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
    <link href={% static 'core/vendor/font-awesome/css/font-awesome.min.css' %} rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href={% static 'core/css/clean-blog.min.css' %} rel="stylesheet">

  </head>

  <body>

    <!-- Cabecera -->
    <header class="masthead" style="background-image: url('{% block background %}
    {% endblock background %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                <h1>Diploma Cloud Demo: SOA/Microservices with Linux Containers</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Contenido Principal -->
    <div class="container">
        {% block content %}
        <div class="row">   
            <div class="col-md-4">
                <h1 class="section-heading">Your Name</h1>
                <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
            </div>
            <div class="col-md-4">
                <h2>My courses</h2>
                {% for curso in cursos %}
                    <p>Curso: {{curso.name}}</p>
                    <p>Status: {{curso.status}}</p>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h2>Available Courses</h2>
                {% for matri in matricula %}
                    <p>Curso: {{matri.name}}</p>
                    <p>Start Date: {{matri.start}}</p>
                {% endfor %}

            </div>
        </div> 
        {% endblock %}
    </div>

    {% if request.path != "/" %}
      <hr>
    {% endif %}

    <!-- Pié de página -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; 2021: Diploma Cloud 2021 </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap y Javascripts -->
    <script src={% static 'core/vendor/jquery/jquery.min.js' %}></script>
    <script src={% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>
    <script src={% static 'core/js/clean-blog.min.js' %}></script>

  </body>

</html>
